$color-primary: #3358cc;
$grey-100: #f4f4f4;
$grey-200: #ebedf0;
$grey-300: #f1f1f1;
$light-grey: #c6c6c6;
$light-yellow: #fed883;
$text-color: #3b3b3b;
$text-color-light: #6a6a6a;
$medium-purple: #708de9;
$light-purple: #d5e0fc;
$red: #fb5959;
$light-red: #fed8d8;
$green: #41a05b;
$light-green: #e5f4ea;
$amber: #cd6900;
$light-amber: #ffede1;
$dark-yellow: rgba(211, 164, 23, 0.2);
$yellow: #d3a417;
$yellow-20-opacity: #f6edd1;
$dark-blue: rgba(61, 180, 219, 0.2);
$blue: #3db4db;
$light-blue: #d8f0f8;
$white: #ffffff;
$black: #000000;
$success: #0f9d58;
$average: #f4b400;
$fail: #d60000;
$bt-bg-disabled: #e2e2e2;
$bt-color-disabled: #ababab;

// custom media query breakpoints
$screen-xs: 599px;
$screen-sm-min: 600px;
$screen-sm-max: 959px;
$screen-md-min: 960px;
$screen-md-max: 1279px;
$screen-lg-min: 1280px;
$screen-lg-max: 1919px;
$screen-xl-min: 1920px;
$screen-xl-max: 5000px;
