@import "../../../../assets/scss/variables.scss";

.header-main {
  padding: 24px;
  max-width: 1600px;
  margin: 0 auto;
}
.h-rhs {
  .mdc-icon-button {
    height: 35px;
    width: 35px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 24px;
      height: auto;
    }
  }
}
.user-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $light-yellow;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .avatar {
    width: auto;
    height: auto;
  }
}
